@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* html,
body {
    width: auto !important;
    overflow-x: hidden !important
} */

/* banner start */

.banner-inner {
    width: 85%;
    display: flex;
    margin: 87px 8%;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 0px 20px 0px #0000001A;
    font-family: 'Open Sans';
    background-color: #FFF;
}

.bg-ec-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    width: 20%;
}

.bg-ec-top-1 {
    display: flex;
    justify-content: flex-end;
    transform: translate(-155%, 20px);
    position: relative;
    z-index: -1;
    /* position: absolute;
    left: 0;
    top: 48%;
    z-index: -1; */
    /* bottom: -560px;
    left: -47px;
    z-index: -1;
    width: 30%; */
}

.bgtop-pic-1{
    position: absolute;
    /* background-image: url("./Images/Ellipse 19 (1).png");
    background-repeat: no-repeat;
    min-width: 800px;
    min-height: 500px; */
    /* z-index: -1; */
}

.banner-left {
    /* width: 40%; */
    padding: 30px;
    background-color: #fff;
    border-radius: 25px;
}

.banner-cont {
    max-width: 590px;
    max-height: 672px;
    border: 1px;
    border-radius: 20px;
    /* width: 100%; */
    padding: 80px 70px 100px 60px;
    background-color: #7EAF00;
    color: white;
    text-align: left;
    /* min-width: 360px; */
    position: relative;
}

.eclipse-img-bottom {
    position: absolute;
    bottom: -10px;
    left: -15px;
}

.eclipse-img-top {
    position: absolute;
    top: -10px;
    right: -60px;
}


.banner-heading {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 82px;
    margin-bottom: 10%;
}

.contact-details {
    margin: 7% auto;
    display: flex;
    gap: 7%;
    flex-wrap: nowrap;
    align-items: flex-start;
}

/* .mail-info {
    font-weight: 500;
    line-height: 33px;
} */

.mail-id {
    /* font-weight: bold;
    font-size: 24px; */

    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.mail-icon {

    width: 38.191px;
    height: 31.826px;
    top: 307px;
    left: 95px;
    /* padding: 5px; */
    gap: 10px;
}

.ph-icon {
    width: 28.643px;
    height: 33.417px;
    display: inline-flex;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loc-icon {
    width: 28.643px;
    height: 33.417px;
    display: inline-flex;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-info b {
    color: #FFF;
    font-size: 24px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.contact-info {
    font-size: 24px;

    line-height: normal;
    /* font-size: larger; */
    /* font-weight: lighter; */
    /* font-family: Open Sans; */
    /* letter-spacing: 1px; */
}

.banner-right {
    margin: 120px;

    /* padding: 80px 25px 50px 25px; */
    /* width: 70%; */
    /* margin: 15px 60px 0 0; */
    /* z-index: 0;
    background-color: #fff;
    border-radius: 30px; */
}

.service-heading {
    padding-right: 20px;
    width: 586px;
    height: 108px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

    /* width: 60%;
    max-width: 75%; */
    color: #424548;
    /* font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; */
}

.service-image {
    width: 102px;
    height: 102px;
}

.banner-right-cont {
    display: flex;
    gap: 5%;
    align-items: flex-start;
    /* margin: 30px 50px 0 100px; */
}

::placeholder {
    color: #42454880;
    /* font-size: 14px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;

}

.contact-form {
    margin-top: 50px;
    /* display: flex;
    flex-wrap: wrap;
    padding: 30px 50px;
    margin: 10px 65px 90px 50px; */
}


.contact-name {
    width: 100%;
    color: #42454880;
    /* font-size: 14px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.contact-name hr {
    margin: 10px 0 10px 0;
}

.contact-email {
    width: 100%;
    color: #42454880;
    /* font-size: 14px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.contact-email-mob {
    display: none;
}

.contact-email hr {
    margin: 10px 0 10px 0;
}

.contact-sub {
    width: 100%;
    color: #42454880;
    /* font-size: 14px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.contact-sub hr {
    margin: 10px 0 10px 0;
}


.contact-msg {
    width: 100%;
    color: #42454880;
    /* font-size: 14px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.contact-msg hr {
    margin: 10px 0 10px 0;
}


form {
    display: grid;
    grid-gap: 25px;
    width: 100%;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #DEE2E6;
    color: #42454880;
}

button {
    background-color: #424448;
    color: #fff;
    padding: 15px;
    border: 1px solid;
    border-radius: 30px !important;
    cursor: pointer;
}

.send-msg-btn {
    width: 59%;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

/* banner end */

/* questions start */

.questions {
    position: relative;
}

.bg-ec-bottom {
    display: flex;
    justify-content: flex-end;
    transform: translate(50%, -10px);
    position: relative;
    /* position: absolute;
    bottom: 0;
    right: 0px;
    width: 21%; */

}

.bg-bottom-pic{
    position: absolute;
}

.ques-heading {

    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--Primary, #7EAF00);
    /* color: #7EAF00; */
    margin: 0px 0 40px 0;

}

.questions-inner {
    font-family: 'Open Sans';
    /* padding: 30px 100px; */
    margin: 30px 24% 15%;
}

.ques-body {
    text-align: left;
}

.ques-content-head {
    color: #424548;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    /* letter-spacing: 0em; */
    margin: 25px 40px;
    /* margin: 0 40px 20px; */
    display: flex;
    justify-content: space-between;
}

.ques-content-details {
    color: #424548;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    margin: 0px 185px 20px 40px;
}

/* End  */
@media (min-width: 992px) and (max-width: 1400px) {
    /* .banner-inner {
        width: 90%;
        display: flex;
        border: 1px solid whitesmoke;
        border-radius: 30px;
        display: flex;
        box-shadow: 0px 0px 20px 0px #0000001A;
        font-family: 'Open Sans';
        background-color: #FFF;
    } */
/* 
    .banner-cont{
        width: 100%;
    } */

    .banner-right {
        margin: 51px;

    }

    .service-heading {
        padding-right: 20px;
        width: 300px;
        height: 108px;
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: #424548;
    }

    .bg-bottom-pic{
        display: none;
    }
}

@media (max-width:600px) {
    .banner-right {
        margin: 20px;
    }

    .questions-inner {
        /* padding: 30px 100px; */
        margin: 5px;
    }

    .service-heading {
       font-size: 20px;

    }

    .banner-left {
        padding: 0 55px 55px;
    }

    .banner-cont {
        /* max-width: 590px;
        max-height: 672px; */
        padding: 30px 20px 20 px 28px;
    }

    .service-image {
        width: 60px;
        height: 60px;
    }

    button {
        min-width: 100%;
    }

}

@media (max-width:991px){
    .banner-inner {
        width: 85%;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-right {
        margin: 50px;
    }

    .banner-left {
        padding: 0 55px 55px;
    }

    .banner-cont {
        width: 100%;
        /* padding: 10px 50px 10px 50px; */
    }

    /* .service-heading {
        padding-right: 20px;
        width: 586px;
        height: 108px;
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: #424548;
    } */

    .bg-bottom-pic{
        display: none;
    }

    .eclipse-img-top {
        position: absolute;
        top: -10px;
        right: -60px;
    }

    button {
        min-width: 100%;
    }

    .questions-inner {
        margin: 50px;
    }

    .ques-content-details {
        margin-right: 80px;
    }
}

/* @media (max-width: 1200px) {

    .banner-inner {
        margin: 100px;
    }

    .banner-left,
    .banner-right {
        width: 100%;
    }

    .contact-form {
        padding: 20px;
        margin: 0;
    }

    .banner-right-cont {
        margin: 0;
    }

    .banner-left {
        padding: 20px 20px;
    }

    .banner-heading {
        margin-top: 0;
    }

    .service-heading {
        width: 70%;
        font-size: 30px;
    }

    button {
        min-width: 100%;
    }

    .ques-heading {
        margin: 0;
        font-size: 27px;
    }

    .ques-body {
        text-align: center;
    }

    .ques-header {
        margin: 0;
    }

    .ques-content-head {
        font-size: 20px;
        line-height: 28px;
        margin: 0 35px 0 20px;
    }

    .ques-content-details {
        font-size: 14px;
        margin: 0 72px 0 20px;
        line-height: 20px;
        text-align: left;
    }

    .bg-ec-bottom {
        display: none;
    }

} */

/* @media (max-width: 992px) {
    .banner-inner {
        margin: 30px;
        flex-direction: column-reverse;
    }

    .banner-left,
    .banner-right {
        width: 100%;
    }

    .contact-form {
        margin: 0;
        padding: 30px 0;
    }

    .banner-right-cont {
        margin: 0;
    }

    .service-heading {
        font-size: 36px;
        width: 75%;
    }

    .banner-left {
        padding: 0 20px 20px;
    }

    .banner-cont {
        padding: 45px;
    }

    button {
        min-width: 100%;
    }

    .ques-heading {
        font-size: 40px;
    }

    .questions-inner {
        padding: 80px;
        margin: 0;
    }

    .ques-content-head {
        font-size: 20px;
        line-height: 28px;
        margin: 0 35px 0 20px;
    }

    .ques-content-details {
        font-size: 14px;
        margin: 0 72px 0 20px;
        line-height: 20px;
        text-align: left;
    }

    .bg-ec-top {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: -10;
        width: 50%;
    }

    .bg-ec-top-1 {
        width: 100%;
    }

    .eclipse-img-top {
        position: absolute;
        top: -10px;
        right: -60px;
    }

    .bg-ec-bottom {
        display: none;
    }

} */

/* Media Query for smaller screens */
/* @media (max-width: 768px) {
    .banner-inner {
        margin: 30px;
        flex-direction: column-reverse;
    }

    .banner-left,
    .banner-right {
        width: 100%;
    }

    .contact-form {
        margin: 0;
        padding: 30px 0;
    }

    .banner-right-cont {
        margin: 0;
    }

    .service-heading {
        font-size: 36px;
        width: 70%;
    }

    .banner-left {
        padding: 0 20px 20px;
    }

    .banner-cont {
        padding: 45px;
    }

    button {
        min-width: 100%;
    }

    .ques-heading {
        margin: 0;
        font-size: 30px;
    }

    .questions-inner {
        padding: 0;
        margin: 30px;
    }

    .ques-body {
        text-align: center;
    }

    .ques-content-head {
        font-size: 20px;
        line-height: 28px;
        margin: 0 35px 0 20px;
    }

    .ques-content-details {
        font-size: 14px;
        margin: 0 72px 0 20px;
        line-height: 20px;
        text-align: left;
    }

    .bg-ec-top {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: -10;
        width: 50%;
    }

    .bg-ec-top-1 {
        width: 100%;
    }

    .eclipse-img-top {
        position: absolute;
        top: -10px;
        right: -60px;
    }

    .bg-ec-bottom {
        display: none;
    }

} */

@media (max-width: 768px) {
    .banner-inner {
        /* margin: 30px; */
        flex-direction: column-reverse;
    }

    .contact-form {
        margin: 0;
        padding: 30px 0;
    }

    .banner-right-cont {
        margin: 0;
    }

    /* .service-heading {
        font-size: px;
        width: 70%;
    } */

    /* .banner-left {
        padding: 0 20px 20px;
    } */

    .banner-cont {
        padding: 45px;
    }

    /* .service-image {
        width: 100%;
        height: auto;
    } */

    button {
        min-width: 100%;
    }

    .ques-heading {
        margin: 0;
        font-size: 30px;
    }

    .questions-inner {
        padding: 0;
        margin: 30px;
    }

    .ques-body {
        text-align: center;
    }

    .ques-content-head {
        font-size: 20px;
        line-height: 28px;
        margin: 0 35px 0 20px;
    }

    .ques-content-details {
        font-size: 14px;
        margin: 0 72px 0 20px;
        line-height: 20px;
        text-align: left;
    }

    .bg-ec-top {
       display: none;
    }

    .bg-ec-top-1 {
        width: 100%;
    }

    .eclipse-img-top {
        position: absolute;
        top: -10px;
        right: -60px;
    }

    .bg-ec-bottom {
        display: none;
    }

}

@media (max-width: 480px) {
    
    .banner-inner {
        max-width: 100%;
        display: flex;
        /* margin: 100px 150px 100px 140px; */
        border: 1px solid whitesmoke;
        border-radius: 30px;
        display: flex;
        box-shadow: 0px 0px 20px 0px #0000001A;
        font-family: 'Open Sans';
        background-color: #FFF;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-left,
    .banner-right {
        width: 100%;
        margin: 0;
    }

    .banner-right {
        padding: 10px;
        width: auto;
        margin: 0;
    }

    .banner-cont {
        font-size: 0.7rem;
        padding: 25px;
    }

    .banner-heading {
        margin-top: 20px;
        font-size: 39px;
    }

    .banner-right-cont {
        margin-top: 15px;
        margin-right: 0;
        margin-left: 0;
        padding-left: 13px;
        gap: 0;
    }

    img.mail-icon {
        width: 25px;
        height: 21px;
    }

    img.ph-icon {
        width: 19px;
        height: 23px;
    }

    img.loc-icon {
        width: 21px;
        height: 25px;
    }

    .contact-info b {
        font-size: 18px;
    }

    .contact-info {
        font-size: 18px;
    }

    .banner-left {
        padding: 0 15px 20px;
    }

    .service-image {
        max-width: 80px;
        max-height: 80px;
        padding-bottom: 10px;
    }

    .service-heading {
        font-size: 23px;
        line-height: normal;
        padding-left: 10px;
        padding-right: 3px;
    }

    .contact-form {
        margin-top: 5px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .contact-name {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .contact-name hr {
        margin: 10px 0 10px 0;
    }

    .contact-email-mob {
        display: block;
        font-size: 18px;
        margin-bottom: 15px;
        color: #42454880;

    }


    .contact-email {
        display: none;

    }

    .contact-email-mob hr {
        margin: 10px 0 10px 0;
    }

    .contact-sub {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .contact-sub hr {
        margin: 10px 0 10px 0;
    }


    .contact-msg {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .contact-msg hr {
        margin: 10px 0 10px 0;
    }

    .send-msg-btn {
        margin-bottom: 20px;
        font-size: 18px;
    }

    button {
        min-width: 100%;
    }

    /* .questions {
        margin: 20px;
    } */

    .ques-heading {
        margin-bottom: 30px;
        font-size: 25px;
    }

    .ques-header {
        margin-top: 20px;
    }

    .container-fluid {
        padding: 0;
    }

    .questions-inner {
        padding: 7px;
        margin: 1px;
    }

    .ques-body {
        text-align: center;
    }

    .ques-content-head {
        font-size: 18px;
        margin: 0 7px 0 7px;
    }

    .ques-content-details {
        text-align: left;
        margin-top: 10px;
        margin-right: 4px;
        margin-bottom: 0;
        margin-left: 7px;
    }

    .eclipse-img-bottom {
        display: none;
    }

    .eclipse-img-top {
        display: none;
    }

    .bg-ec-top {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: -10;
        width: 50%;
    }

    .bg-ec-top-1 {
        width: 100%;
    }

    .bg-ec-bottom {
        display: none;
    }

    .ques-content-line {
        width: 380px;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    img.close-btn {
        width: 27.78px;
        height: 30.78px;
    }

    img.plus-btn {
        width: 22.78px;
        height: 22.78px;
    }

}